* { font-family: Verdana, sans-serif; margin: 0; }

#splash {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height: 50vh;
    background: linear-gradient(45deg,#fc00ff,#00C9FF,#92fe9d);
    background-size: 600% 100%;
    animation: gradient 10s linear infinite;
    animation-direction: alternate;
}
#l_splash {
    margin-left: 3vw;
    padding-left: 2vw;
    border-left: 1vw solid white;
}
#l_splash h1 {
    padding: 1vh 0;
}
@keyframes gradient {
    0% {background-position: 0%}
    20% {background-position: 10%}
    80% {background-position: 90%;}
    100% {background-position: 100%}
}

#splash h1 {
    color: white;
}

#projects {
    display: flex;
}

a.card {
    flex: 1;
    text-decoration: none;
    color: black;
    margin: 6vh;
    height: 38vh;
    background-color: #F0F0F0;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow : hidden;
}

.pic {
    flex: 1;
    background-color: white;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jpg {
    height: 14vh;
}

.info {
    flex: 1;
    padding: 1vw;
}

.cursive {
    font-family: Brush Script MT, serif;
    color: purple;
}

.monospace {
    font-family: monospace;
    color: tomato;
}
